<h1 id="tableLabel">Create Contract</h1>
<app-contractlist (submit)="onSubmit($event)"></app-contractlist>
<div [hidden]="!message" class="alert" [ngClass]="isSuccessful ? 'alert-success' : 'alert-danger'">{{ message }}</div>
<div class="form-group">
  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="contracts">
    <thead>
      <tr>
        <th>ID</th>
        <th>MainContractor</th>
        <th>RelationalContractor</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contract of contracts">
        <td>{{ contract.id }}</td>
        <td>{{ contract.mainContractorName }}</td>
        <td>{{ contract.relationalContractorName }}</td>
      </tr>
    </tbody>
  </table>
</div>
