<h1 id="tableLabel">Create Contract</h1>

<div class="form-group">
  <label for="contractor1">Contractor</label>
  <select class="form-control" id="contractor1"
          required
          [(ngModel)]="model.mainContractorId" name="contractor1"
          #contractor1="ngModel">
    <option *ngFor="let contractor of contractors" [ngValue]="contractor.id">{{contractor.name}}</option>
  </select>
  <div [hidden]="contractor1.valid || contractor1.pristine" class="alert alert-danger">
    Contractor1 is required
  </div>

  <label for="contractor2">Contractor</label>
  <select class="form-control" id="contractor2"
          required
          [(ngModel)]="model.relationContractorId" name="contractor2"
          #contractor2="ngModel">
    <option *ngFor="let contractor of contractors" [ngValue]="contractor.id">{{contractor.name}}</option>
  </select>
  <div [hidden]="contractor2.valid || contractor2.pristine" class="alert alert-danger">
    Contractor2 is required
  </div>

  <br>
  <button class="btn btn-primary" type="submit" (click)="onSubmit()">Submit</button><br><br>
  <div [hidden]="!message" class="alert" [ngClass]="isSuccessful ? 'alert-success' : 'alert-danger'">{{ message }}</div>
</div>
<div class="form-group">
  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="contracts">
    <thead>
      <tr>
        <th>ID</th>
        <th>MainContractor</th>
        <th>RelationalContractor</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contract of contracts">
        <td>{{ contract.id }}</td>
        <td>{{ contract.mainContractorName }}</td>
        <td>{{ contract.relationalContractorName }}</td>
      </tr>
    </tbody>
  </table>
</div>
